body::-webkit-scrollbar {
    display: none;
} 

.teks h2{
    text-align: center;
    padding-top: 90px;
    color: black;
    font-weight: bold;
}

.form{
    color: black;
}

.form-input {
    width: 645px;
    border: 1px solid black;
}

.btn_tambah {
    margin-left: 265px;
    background-color: #152D47;
    color: white;
    border-radius: 30px;
    width: 100px;
    height: 40px;
}