body::-webkit-scrollbar {
    display: none;
}
    
    .address-container{
        height: 600px;
        width: 1395px;
    }

.kotak-body {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 250px;
    padding: 20px;
}
.office-info {
    color: black;
}
.factory-info {
    color: black;
}
