* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hero img {
    width: 100%;
    object-fit: cover;
}
body::-webkit-scrollbar {
    display: none;
}

.hero-section {
    margin: -10% 0  0 10%;
}

.hero-section img {
    width: 100%;
    display: block;
}

.text-box {
    bottom: 20px;
    left: 20px;
    background-color: #008b72;
    color: #fff;
    padding: 20px;
    width: 424px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-box h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.quality-promise,
.manufacturing-capability,
.operational-excellence {
    padding: 40px 0;
}

.certifications {
    gap: 20px;
}

.certifications img {
    width: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
}

.manufacturing-capability .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.manufacturing-capability .column {
    flex: 1;
    padding: 10px;
}

.manufacturing-capability img {
    width: 310px;
    height: 100%;
    margin-top: 20px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.manufacturing-capability h4 {
    font-size: 25px;
    color: #ff9e0d;
    color: #ff9e0d;
    border-bottom: 3px solid #4e44a8;
    padding-bottom: 5px;
    display: inline-block;
}

.manufacturing-capability p {
    text-align: left;
    margin-right: 100px;
    margin-left: 100px;
    font-family: "Times New Roman";
    font-size: 18px;
    line-height: 1.6;
    color: black;
}

.company-profile {
    text-align: center;
}

.company-profile img {
    width: 100%;
}

.operational-excellence .icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 15px;
    padding-top: 50px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16*100) */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.operational-excellence .icons img {
    max-width: 100px;
    flex-shrink: 0;
    box-shadow: 23px 23px 23px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

/* Responsive Design with Media Queries */
@media (max-width: 768px) {
    .text-box {
        width: 100%;
        padding: 15px;
    }

    .manufacturing-capability img {
        width: 100%;
    }

    .manufacturing-capability p {
        margin: 0 2%;
    }
}

@media (max-width: 480px) {
    .hero-section {
        margin-top: auto;
    }

    .text-box {
        font-size: 14px;
    }

    .manufacturing-capability img {
        width: 100%;
    }

    .manufacturing-capability p {
        margin: 0 1%;
    }
    .hero-section {
        margin: 1rem;
    }
}

.fade-in-up {
    opacity: 0;
    transform: translateY(350px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.show {
    opacity: 1;
    transform: translateY(0);
}

.show {
    opacity: 1;
    transform: translateX(0);
}

/* preloader.css */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#preloader img {
    width: 100px; /* Sesuaikan dengan ukuran logo */
    height: auto;
}
