* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hero img {
    width: 100%;
    object-fit: cover;
}

.hero-section {
    margin: -10% 0  0 10%;
}

.hero-section img {
    width: 100%;
    display: block;
}

.text-box {
    bottom: 20px;
    left: 20px;
    background-color: #008b72;
    color: #fff;
    padding: 20px;
    width: 424px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-box h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.quality-promise,
.manufacturing-capability,
.operational-excellence {
    padding: 40px 0;
}

.certifications {
    gap: 20px;
}

.certifications img {
    width: 200px;
    padding: 30px 25px 0;
}

.manufacturing-capability img {
    width: 310px;
    height: 100%;
    margin-top: 20px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.manufacturing-capability h4 {
    font-size: 25px;
    color: #ff9e0d;
    border-bottom: 3px solid #4e44a8;
    padding-bottom: 5px;
    display: inline-block;
}

.operational-excellence .icons {
    padding-top: 50px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16*100) */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.operational-excellence .icons img {
    width: 100px;
    box-shadow: 23px 23px 23px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

/* respoonsif untuk tablet */
@media only screen and(max-width:700px) {
    /* disesuaikan sesuai kebutuhanmu */
}

/* responsif untuk mobile */
@media only screen and (max-width: 420px) {
    /* hero section */
    .hero img {
        height: 25rem;
    }
    .hero-section {
        margin: -10% 0 0 0;
    }

    /* section quality promise */
    .quality-promise,
    .manufacturing-capability,
    .company-profile,
    .operational-excellence {
        margin: 0 10px;
    }

    /* section manufacturing capability */
    .manufacturing-capability > .boxs {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .manufacturing-capability h4 {
        margin-top: 0.5rem;
    }

    .manufacturing-capability > .boxs > p {
        margin: 0 12px;
    }

    .certifications img {
        width: 100px;
    }

    /* section company profile */
    .company-profile > .container > video {
        width: 360px;
        height: 200px;
    }

    .operational-excellence .icons img {
        max-width: 50px;
    }
}
